/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

#myInput {
  font-family: 'Montserrat', sans-serif;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  /* border: 0.5px solid #000; */
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the edit button */
.edit {
  position: absolute;
  right: 3%;
  top: 0;
  padding: 10px 16px 10px 16px;
}

.edit:hover {
  background-color: green;
  color: white;
}

/* Style the header */
.header {
  /* background-color: #87AAAA; */
  /* background-color: #FFE699; */
  background-color: #B4C6A6;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header-text {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 2.5rem;
  color: #000;
}

.dev-text {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 1rem;
  margin-bottom: 02rem;
  color: #000;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 8px;
  margin-left: 2.1875rem;
  width: 20%;
  /* background: #87AAAA; */
  /* background-color:#FFE699; */
  background-color: #B4C6A6;
  border: 2px solid #000;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: #000;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  /* background-color: #C8E3D4; */
  /* background-color: #FFF9B6; */
  background-color: #FFC286;
}

/**************************************************************************************Media Query Code Starts Here************************************************************************/
/* @media only screen and (max-width: 1000px) { */
@media only screen
  /* and (min-device-width : 768px)  */
  and (max-device-width : 1024px)
  and (orientation : portrait) {

  /* body {
    background-color: lightblue;
  } */

  .header-text {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 5rem;
    color: #000;
  }

  .dev-text {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #000;
  }

  input {
    margin: 0;
    border: none;
    border-radius: 0;
    /* width: 75%; */
    width: 75%;
    padding: 10px;
    /* float: left; */
    display: inline-block;
    font-size: 32px;
  }

  /* Style the "Add" button */
  .addBtn {
    padding: 8px;
    display: inline-block;
    margin-left: 2.1875rem;
    width: 20%;
    /* background: #87AAAA; */
    /* background-color:#FFE699; */
    background-color: #B4C6A6;
    border: 2px solid #000;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color: #000;
    /* float: left; */
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 36px;
    transition: 0.2s;
    /* border: 0.5px solid #000; */
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

}
